body {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left:20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sub-directories{
    border: 1px solid black;
    display:inline-block;
    padding:10px;
    vertical-align:top;
    height:500px;
    min-width:300px;
    overflow-y:scroll;
}

.sub-files{
    border: 1px solid black;
    display:inline-block;
    padding:10px;
    vertical-align:top;
    height:500px;
    width:250px;
    overflow-y:scroll;

    
}

.section-title{
}

.sub-directories-header{
    /*position: fixed;
    background-color:azure;
    width:auto;*/
}

a.sub-directory{
    
}
.title-back{
    margin-bottom:10px;
}

.title-back-a{
    text-decoration:none;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin-bottom:10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
